<div>
<table class="table table-striped">
 <tbody>
    <tr>
      <td class="col-md-3"><%= current_user.desc %></td>
      <td class="col-md-3">Balance: <strong>$<%= current_user.balance %></strong></td>
    </tr>
  </tbody>
</table>
</div>